.Footer {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;
    color: $primary;
    text-align: center;
    gap: calc($gutter * 3);
    padding: calc($gutter * 5);

    &__text {
      font-size: $font-sm;
      font-weight: $thin;
    }
  }

  &__links {
    height: 10vh;
    padding: calc($gutter / 2);

    &__list {
      $list-gap: calc($gutter * 3);
      display: flex;
      justify-content: center;
      gap: $list-gap;
      align-items: center;
      height: 100%;

      &__item {
        text-transform: uppercase;
        font-size: $font-md;
        font-weight: $bold;
        position: relative;
        cursor: pointer;

        &:hover {
          &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $black;
            animation: slideLeft .3s ease forwards;
          }
        }

        &::after {
          content: "/";
          position: absolute;
          right: calc($list-gap / -2);
          pointer-events: none;
        }

        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opcacity: 1;
    transform: translateX(0);
  }
}
