$primary: #fffbf2;
$secondary: #dfd3c3;
$red: #c10206;
$yellow: #f2c94c;
$black: #010a10;
$debug: #93C;

$primary-font: "Alexandria", sans-serif;
$terminal-font: "VT323", monospace;

$box-shadow-1: rgba(0, 0, 0, 0.18) 0px 2px 4px;
$box-shadow-1-hover: rgba(0, 0, 0, 0.15) 0px 2px 8px;

$font-xxl: 128px;
$font-xl: 64px;
$font-lg: 36px;
$font-md: 32px;
$font-sm: 24px;
$font-xs: 16px;

$blackbold: 900;
$bold: 600;
$regular: 400;
$thin: 200;

$gutter: 1.5rem;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;